.home-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* display: flex;
      justify-content: space-between; */
      align-items: center;
      margin-left: 40px;
      margin-right: 40px;
      padding: 0 20px;

}

.home-children-text {}

.home-children-text h1 {
      font-size: 50px;
}

.home-children-img img {
      width: 100%;
}


/* Cart Section */

.cart-comtainer {}

/* .cart-comtainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
} */